/* ToDo: Remove !important and load stylesheet in the footer */
/* Navigation menu */
.navigation-main,
.site-branding {
	max-width: 1050px !important;
}

@media screen and ( max-width: 1000px ) {
	.navigation-main {
		margin: 18px 5px 5px !important;
	}
}

/* Settings */
.wpgpt_settings_menu {
    color:#fff;
    cursor:pointer;
}

.wpgpt-settings-window {
   min-height: 100vh;
   margin:10px 0 50px 0;
}

.wpgpt-info {
    display: block;
    margin: 0 auto;
    text-align: center;
}

@media ( max-width:500px ) {
    .wpgpt-settings-window {
        font-size: 0.9em;
    }
}

.wpgpt-settings-window label,
.wpgpt-settings-window input {
    cursor:pointer;
}

.wpgpt-setting-description,
.wpgpt-setting-type-2,
.wpgpt-setting-type-3 {
    display:inline-block
}

.wpgpt-setting-description {
    width:35%;
}

.wpgpt-sub-setting .wpgpt-setting-description {
    width: 34.5%;
}

.wpgpt-sub-sub-setting .wpgpt-setting-description {
    width:34.4%;
}

.wpgpt-main-setting .wpgpt-setting-description {
    font-size:1.3em;
    color:#036b9c;
    font-weight:600;
}

.wpgpt-setting-type-2 {
    width:100px;
}

.wpgpt-setting-type-3 {
   width:20%;
}

.wpgpt-setting-type-3:nth-of-type( 3n+2 ) {
   width:25%;
}

.wpgpt-main-setting {
    margin-top:20px;
	padding:0px 0 10px 0;
}

.wpgpt-main-setting + .wpgpt-sub-setting {
    border-top:2px solid #0073aa;
}

.wpgpt-sub-setting {
    padding:10px 10px 10px;
    background:#f7f7f7;
    border-bottom:1px solid #dadada;
    border-left:5px solid #0073aa;
}
.wpgpt-sub-sub-setting {
padding:10px 10px 10px;
    background:#f7f7f7;
    border-bottom:1px solid #dadada;
    border-left:3px solid #aa003a;
}

.note {
	color: #8e8989;
}

#warning_words,
#match_words,
#custom_period {
	width:62%;
	cursor: text;
	border: 1px  solid #d8d8d8;
    color:#4a4a4a;
}

#save_settings {
    float:left;
    height:30px;
	width: 200px;
    font-size:1.1em;
    margin-top:25px;
    background-color:#0073aa;
    color:#fff;
}

.gp-shortcuts {
    font-size:1.3em;
	clear: both;
    padding-top: 30px;
}

.gp-shortcut {
    display: inline-block;
	vertical-align: middle;
}

.gp-row .gp-shortcut {
    width:30%;
    padding:5px;
}

.gp-row {
    border-bottom:1px solid #e8e8e8;
}

.gp-row.sep {
    border-bottom: 1px solid #bdbdbd;
}

.gp-header {
    font-weight:600;
}

.gp-shortcuts h3 {
    font-size:1em;
    color:#036b9c
}

span.big {
    font-size:1.3em;
}

span.s {
    color:orange;
    font-weight:700;
}

span.c {
    color:blue;
    font-weight:700;
}

span.a {
    color:green;
    font-weight:700;
}
span.r {
    color:red;
    font-weight:700;
}
span.f {
    color:#6f089a;
    font-weight:700;
}

span.small {
    font-size:0.7em;
}

.wpgpt-update-notice > strong {
	color:#025f8c;
}

.gp-header.gp-row .gp-shortcut {
    color: #868686;
}

.gp-header.gp-row .gp-shortcut:nth-child( 1 ) {
    color: #0073aa;
}

/* Update notice */
.wpgpt-update-notice {
	width: 60%;
    margin: 25px auto;
    display: block;
    color: #000000;
    font-size: 1.1em;
    border: 3px solid #0073aa;
    padding: 25px;
}

/* Meta */
.localized_date {
    font-weight: 700;
}

.localized_date .timezone {
    padding-left: 3px;
    font-size: 0.8em;
}

/* Notranslate */
.wpgpt_notranslate {
    margin-bottom: 15px;
    color: #666666;
}

.wpgpt_notranslate div span {
    font-size: 0.85em;
}

.wpgpt_notranslate a {
    display: inline-block;
    padding: 1px 6px;
    border: 1px solid #b4b4b4;
    margin: 5px 3px 0;
    cursor: pointer;
    color: #5d5c5c !important;
    text-decoration: none;
    background-color: #ebf5fd;
}

.wpgpt_notranslate a.used {
    opacity: 0.5;
}

.editor .notranslate {
    background-color: #ebf5fd;
    cursor: pointer;
}

.editor .notranslate:hover .notranslate,
.editor .notranslate:hover {
    background-color: #c9e3f9;
}


.wpgpt_notranslate_copy_all {
    float:right;
}

/* Checks */
.wpgpt-checks-list {
    word-break: break-all;
    font-size: 14px;
}

.wpgpt-warnings-list ul li {
	color: red;
    font-weight: 700;
}

.wpgpt-warnings-list.empty ul li {
	color: red;
	list-style: none;
	margin-left: -20px;
}

.wpgpt-notices-list ul li {
    font-weight: 700;
}

.wpgpt-warnings-list + .wpgpt-notices-list {
    margin-top:5px;
}

.wpgpt-ignore-warnings {
	display: none;
	float: right;
    margin: 0 10px;
    color: red;
}

.wpgpt-ignore-warnings label,
.wpgpt-ignore-warnings input {
    cursor:pointer;
}

.wpgpt-filters {
    float: left;
    padding-left:10px;
}

.wpgpt-filters a {
    margin-bottom:-10px;
    vertical-align: middle;
}

.wpgpt-filters img {
    width:20px;
    height:20px;
    vertical-align: middle;
}

.wpgpt-filters a.count-0 img {
    opacity:0.3;
}

.wpgpt-filters .separator {
    padding-left:2px;
    padding-right:2px;
    font-size:1.1em;
    vertical-align:middle;
}
.wpgpt-check-preview.passed {
    display:block;
    font-weight:600;
    font-size:1.2em;
    line-height:0.9em;
}

table.translations a.action {
    text-decoration:none!important;
    border-bottom:1px solid #545454;
}

.wpgpt-check-preview {
    display:block;
    margin:0 auto;
}

.wpgpt-notice-labels,
.wpgpt-warning-labels {
    display:inline-block;
}

.wpgpt-warning-labels li,
.wpgpt-notice-labels li {
    list-style-type: none;
    display:inline-block;
    font-size: 12px;
    margin-left: 0.2em;
    padding: 0.1em 5px;
    border-radius: 2px;
	color: #000;
	padding-bottom: 0.1em !important;
    border-bottom: none !important;
}

.wpgpt-notice-labels li {
    background-color: #dedede;
}

.wpgpt-warning-labels li {
    background-color: rgb(251 167 167);
}

.translation-text {
    display:block;
}

.translation-text + .wpgpt-warning-labels {
    margin-top:5px;
}

.translation-text + .wpgpt-notice-labels {
    margin-top:5px;
}

.wpgpt-highlight {
    background-color: rgb(251, 167, 167);
    border:1px dashed #fc6969;
}

.wpgpt-warning-labels .has-highlight,
.wpgpt-notice-labels .has-highlight {
	display:none;
}

.wpgpt-highlight + .wpgpt-highlight {
	border-left:none;
}

/* Search */

.wpgpt-search label,
.wpgpt-backup {
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.wpgpt-search label{
   display: block;
}

label.wpgpt-search-plugin-label,
.wpgpt-search-plugin-slug {
    display: inline-block;
    margin-right:5px;
}

.wpgpt-search {
	padding: 0 15px 0 15px;
}

.wpgpt-search-action,
.wpgpt-search input,
.wpgpt-search button,
.wpgpt-search label {
	vertical-align: middle
}

.wpgpt-search label {
	cursor: pointer;
}

.wpgpt-search input[type=submit],
.wpgpt-search button {
	height: 25px;
}

.wpgpt-search input[type=checkbox] {
	margin-left: 5px;
}

.hidden {
	display: none;
}

.wpgpt-search-plugin-slug {
	height: 1.5em;
	border: #efefef 1px solid;
}

.wpgpt-search-action,
.wpgpt-search-close-tabs {
	font-size: 1.1em;
}

.wpgpt-search-close-tabs {
    float: left;
    margin-left: 17px !important;
    margin-top: 15px !important;
	margin-bottom: 10px;
}

.wpgpt-search-notice {
	padding-bottom: 15px;
}

.wpgpt-search-dismiss-notice {
	cursor: pointer;
}

.wpgpt-search-word {
	margin-right: 5px;
}

.wpgpt-search .error-notice {
	display: block;
	height: 20px;
	color: #6d6d6d;
}

.wpgpt-results-notice {
    margin-bottom: 10px;
}

.wpgpt-results-notice span {
	color: #d04300;
	font-weight: 500;
}

/*QuickLinks*/
.editor-panel__right .panel-header button {
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 0;
}

.editor-panel__right .panel-header button:hover {
    background: #fafafa;
}

.wpgpt_quicklinks_copy.active {
    color: #0073aa;
}

.wpgpt_quicklinks_copy.active:hover, 
.wpgpt_quicklinks_copy.active:focus {
    color: #046594;
}

.wpgpt_quicklinks_plus.dashicons-plus {
	margin: 0 10px;
    vertical-align: middle;
    color: #0073aa;
    cursor: pointer;
}

.wpgpt_quicklinks_plus.separator {
	margin: 0 10px;
    vertical-align: middle;
}

.wpgpt_quicklinks_plus.separator:before {
    content: "|";
    color: #c3c0c0;
}

/* Consistency Suggestions */
.wpgpt_get_consistency {
	margin-left: 10px !important;
}

.translation-suggestion__translation.index,
.consistency_count {
	padding: 0 4px;
	color: #666;
    font-size: 0.9em;
}

.consistency_count {
	font-size: 0.8em;
}

li.consistency_index {
    font-size: 0.9em;
    color: grey;
    border-bottom: 1px dashed #cabfbf;
}

.consistency_index .copy-full-alternative,
.consistency_index .consistency_count {
    float: right;
}

.consistency_index .copy-full-alternative {
    box-shadow: none !important;
}

.wpgpt_consistency .space {
    background: #cbcdce;
    white-space: pre-wrap;
    opacity: .4;
}

/* GT Suggestions */
.wpgpt_get_gt {
	margin-left: 10px !important;
}

/* History check */
del {
	text-decoration: none;
	color: #000000;
	background: #ffb2b2;
	white-space: pre;
}

ins {
	background: #dae893;
	color: #000000;
	text-decoration: none;
	white-space: pre;
}

.wpgpt-h-label {
    font-size: 12px;
    margin-left: 0.2em;
    padding: 0.1em 5px;
    background-color: rgba(255,255,255,0.85);
    border-radius:2px;
    color:#000;
}

.preview.untranslated .wpgpt-h-label {
    background-color: #dddddd;
}

.wpgpt-h-label.editor {
	display:inline-block;
    background-color:#808286;
    color:#fff;
    margin-top:15px;
	margin-bottom:10px;	
}

.wpgpt-h-label.preview a {
	color: #000 !important;
}

.wpgpt-h-label.editor a {
	color: #fff !important;
}

.wpgpt_diff ol,
.wpgpt_compared_to ol {
    padding-left:25px;
}

.wpgpt_diff.single ol,
.wpgpt_compared_to.single ol {
    list-style-type: none;
	padding-left:20px;
}

span.context + span.priority {
    margin-left: 0.5em !important;
}

#wpgpt_search_anonymous {
    margin-right: 5px;
}

.identical-history {
    color: #666;
    font-size: 0.9em;
    font-style: italic;
}

/* GD fall-back compatibility*/
.gd_consistency,
.gd_quicklinks {
	display:none;
}

/* Consistency Page*/
button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover {
    border: 1px solid #9999997a !important;
    background-color: #ffffff59 !important;
    color: #6666668a !important;
    cursor:not-allowed !important;
}

.fire_magic_reject_close_div {
    float: right;
}

button.fire_magic_reject_close {
    margin:0 5px 0 5px !important;
    background-color:#b31616 !important;
    color:white !important;
    font-size:0.9em;
}

button.fire_magic_save_close {
    height:35px !important;
    font-size:1em !important;
    background-color: #0085ba !important;
    color: #fff !important;
    font-weight: 500;
    margin: 0 auto !important;
    display: block;
}

button.choose-consistency-string {
    margin-right: 5px !important;
}

.translations-unique {
    list-style: none;
}

.translations-unique li {
    padding: 5px;
    border-bottom: 1px dashed #c7c7c7;
}

.translations-unique li:last-child {
    border-bottom: none;
}

#translations-overview ol {
    margin-left:25px;
    margin-bottom:20px;
}

#bulk-instructions {
    color: #565656;
    font-size: 0.9em;
}

.wpgpt-bulk-buttons {
    padding-bottom: 5px;
}

.plural_form {
    display: inline-block;
    text-align: right;
    font-size: 0.75em;
    color: #8a8a8a;
    width: 6%;
    min-width: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    margin-right: 5px;
}

.anchor-jumper,
.translations-unique small {
    float: right;
    color:grey;
}

.wpgpt-bulk-warning {
    padding: 10px 15px;
    color: red;
    font-weight: 600;
}

.wpgpt-relax {
    text-align: center;
    font-size: 1.1em;
    color: #197396;
    font-weight: 700;
    display: none;
    margin-bottom: 10px;
}